[submodule "app-skeleton-proxy"]
	path = app-skeleton-proxy
	url = https://github.com/CarlosEspinoTimon/app-skeleton-proxy.git
[submodule "app-skeleton-server"]
	path = app-skeleton-server
	url = https://github.com/CarlosEspinoTimon/app-skeleton-server.git
[submodule "app-skeleton-client"]
	path = app-skeleton-client
	url = https://github.com/CarlosEspinoTimon/app-skeleton-client.git
[submodule "app-skeleton-protos"]
	path = app-skeleton-protos
	url = https://github.com/CarlosEspinoTimon/app-skeleton-protos.git
